{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'indi.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/searchbuilder/1.4.1/js/dataTables.searchBuilder.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.4.0/js/dataTables.dateTime.min.js"></script>
    <!-- <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"> -->
    <!-- <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script> -->
    <title>Home | Translator</title>
</head>
<body>
    <script>
        const redirect = (queueId) => {
            window.location = '/track/'+queueId
        }
        setInterval(function(){
            $.ajax({
                url:'/view/{{user}}',
                type:'POST',
                // date:'{{dt}}',
                // status:'{{status}}',
                data:JSON.stringify({date:'{{dt}}',status:'{{status}}'})

            });
            console.log('data fetched')
        },5000);

        const formatDate = (date) => {
            var pattern = '/(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2})\.(\d{6})/'
            var dt = new Date(date.replace(pattern,'$3-$2-$1'));
            // console.log(dt)
            let day=dt.getDate(); let month=dt.getMonth(); let year=dt.getFullYear(); let hrs=dt.getHours(); let min=dt.getMinutes(); let sec=dt.getSeconds();
            let ap=''
            if (hrs>12) {ap = 'PM';hrs=hrs%12}
            else if(hrs===12) {ap='PM'}
            else{ap='AM'}
            if (day<10) {day = `0${day}`}
            if (month<10) {month = `0${month}`}
            if (hrs<10) {hrs = `0${hrs}`}
            if (min<10) {min = `0${min}`}
            if (sec<10) {sec = `0${sec}`}
            // console.log(day)
            

            let formatted = `${day}/${month}/${year} ${hrs}:${min} ${ap}`;
            document.getElementById(date).innerHTML = formatted;
        }
        
        // setTimeout(function(){
        //     window.location.reload(1);
        // }, 5000);
        

        // document.getElementById('success').onclick = () => {
            // document.getElementById('success').classList.add('selected')
            // document.getElementById('unsuccess').classList.remove('selected')
            // document.getElementById('running').classList.remove('selected')
            // document.getElementById('waiting').classList.remove('selected')
        // }
        // document.getElementById('unsuccess').onclick = () => {
        //     document.getElementById('success').classList.remove('selected')
        //     document.getElementById('unsuccess').classList.add('selected')
        //     document.getElementById('running').classList.remove('selected')
        //     document.getElementById('waiting').classList.remove('selected')
        // }
        // document.getElementById('running').onclick = () => {
        //     document.getElementById('success').classList.remove('selected')
        //     document.getElementById('unsuccess').classList.remove('selected')
        //     document.getElementById('running').classList.add('selected')
        //     document.getElementById('waiting').classList.remove('selected')
        // }
        // document.getElementById('waiting').onclick = () => {
        //     document.getElementById('success').classList.remove('selected')
        //     document.getElementById('unsuccess').classList.remove('selected')
        //     document.getElementById('running').classList.remove('selected')
        //     document.getElementById('waiting').classList.add('selected')
        // }
        const select = (id) => {
            if (id==='success') {
                document.getElementById('success').classList.add('selected')
                document.getElementById('unsuccess').classList.remove('selected')
                document.getElementById('running').classList.remove('selected')
                document.getElementById('waiting').classList.remove('selected')
                document.getElementById('success-logs').style.display = 'block'
                document.getElementById('unsuccess-logs').style.display = 'none'
                document.getElementById('running-logs').style.display = 'none'
                document.getElementById('waiting-logs').style.display = 'none'

            }
            else if (id==='unsuccess') {
                document.getElementById('success').classList.remove('selected')
                document.getElementById('unsuccess').classList.add('selected')
                document.getElementById('running').classList.remove('selected')
                document.getElementById('waiting').classList.remove('selected')
                document.getElementById('success-logs').style.display = 'none'
                document.getElementById('unsuccess-logs').style.display = 'block'
                document.getElementById('running-logs').style.display = 'none'
                document.getElementById('waiting-logs').style.display = 'none'
            }
            else if (id==='running') {
                document.getElementById('success').classList.remove('selected')
                document.getElementById('unsuccess').classList.remove('selected')
                document.getElementById('running').classList.add('selected')
                document.getElementById('waiting').classList.remove('selected')
                document.getElementById('success-logs').style.display = 'none'
                document.getElementById('unsuccess-logs').style.display = 'none'
                document.getElementById('running-logs').style.display = 'block'
                document.getElementById('waiting-logs').style.display = 'none'
            }
            else if (id==='waiting') {
                document.getElementById('success').classList.remove('selected')
                document.getElementById('unsuccess').classList.remove('selected')
                document.getElementById('running').classList.remove('selected')
                document.getElementById('waiting').classList.add('selected')
                document.getElementById('success-logs').style.display = 'none'
                document.getElementById('unsuccess-logs').style.display = 'none'
                document.getElementById('running-logs').style.display = 'none'
                document.getElementById('waiting-logs').style.display = 'block'
            }
            // document.createElement('table');
            // let headers = ['Source URL','Email','Status','Start Date & Time','Queue ID']
            // let l = []
            // {% for log in logs %}
            //     a={
            //         source:'{{log.source}}',
            //         email:'{{log.email}}',
            //         status:'{{log.status}}',
            //         datetime:'{{log.start_datetime}}',
            //         queueId:'{{log.queueId}}',


            //     }
            //     l.push(a)
            // {% endfor %}
            // // console.log(l)
            // let table = document.getElementById("table");
            // // let thead = table.createTHead();
            // for (let r of l) {
            //     let row = table.insertRow();
            //     for (let key in r) {
            //         let cell = row.insertCell();
            //         let text = document.createTextNode(r[key]);
            //         cell.appendChild(text);
            //     }
            // }

            // // for (let head in headers) {
            // //     let th = document.createElement("th");
            // //     let text = document.createTextNode(headers[head]);
            // //     th.appendChild(text)
            // //     row.appendChild(th)
            // // }

        }
        $(document).ready(function() {
            $('#unsuccess-logs').removeAttr('width').DataTable( {
                // dom: 'Qlfrtip',
                // scrollY:        "300px",
                // scrollX:        '1000px',
                scrollCollapse: true,
                // paging:         false,
                // columnDefs: [
                //     { width: 200, targets: 0 }
                // ],
                // fixedColumns: true
            });
            // console.log('{{status}}')
            if ('{{status}}'==='all') {
                document.getElementById('all-status').setAttribute('selected',true)
                // console.log('all')
            }
            if ('{{status}}'==='successful') {
                document.getElementById('success-status').setAttribute('selected',true)
                console.log('success')
            }if ('{{status}}'==='unsuccessful') {
                document.getElementById('unsuccess-status').setAttribute('selected',true)
            }if ('{{status}}'==='running') {
                document.getElementById('running-status').setAttribute('selected',true)
            }if ('{{status}}'==='waiting') {
                document.getElementById('waiting-status').setAttribute('selected',true)
            }
        });

        // $.ajax('/view/{{user}}',
        //     {
        //         date:'{{dt}}',
        //         status:'{{status}}'
        //     }
        // )
        
    </script>
    <div id="root">
        <div class="header">
        <p onclick="document.getElementById('upload-form').style.display='block'">Translate Video</p>
        <!-- <a href="/indi-log/{{user}}"><p>Logs for Videos</p></a> -->
        <h3>Welcome {{user|upper}}</h3>
        <a href="/logout"><p>Logout</p></a>

        
        </div>
        <div class="container indi">
            
            {% if messages %}
            {% for m in messages %}
            <p>{{m}}</p>
            {% endfor %}
            {% endif %}
            <form id="log-form" action="/view/{{user}}" method="post" style="width: 100%; display: flex; justify-content: space-between;">
                {% csrf_token %}
                {% if dt and status %}
                <input type="date" name="date" id="" value="{{dt}}">
                <select name="status" id="status-select">
                    <option value="" disabled>Select Status</option>
                    <option value="all" id="all-status">All</option>
                    <option value="successful" id="success-status">Successful</option>
                    <option value="unsuccessful" id="unsuccess-status">Unsuccessful</option>
                    <option value="running" id="running-status">Running</option>
                    <option value="waiting" id="waiting-status">Waiting</option>
                </select>
                {% else %}
                <input type="date" name="date" id="" value="{{dt}}">
                <select name="status" id="" value="{{status}}">
                    <option value="" disabled selected>Select Status</option>
                    <option value="all">All</option>
                    <option value="successful">Successful</option>
                    <option value="unsuccessful">Unsuccessful</option>
                    <option value="running">Running</option>
                    <option value="waiting">Waiting</option>
                </select>
                {% endif %}
                <input type="submit" value="Search">
            </form>

            {% if logs %}
            <!-- <div class="lower-logs"> -->
            <h2>Logs</h2>
            <center><table id="unsuccess-logs" class="display nowrap" style="width:100%">
                <thead>
                <tr>
                    <th></th>
                    <th>Source URL</th>
                    <th>Email</th>
                    <th>Time</th>
                    <th>Queue ID</th>
                    <th>Details</th>

                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        {% if log.status == 'unsuccessful' %}
                        <td align="left"><div title="unsuccessful" style="border-radius: 50%; width:10px;height:10px;background-color:red " ></div></td>
                        {% elif log.status == 'successful' %}
                        <td align="left"><div title="successful" style="border-radius: 50%; width:10px;height:10px;background-color:greenyellow "></div></td>
                        {% elif log.status == 'waiting' %}
                        <td align="left"><div title="waiting" style="border-radius: 50%; width:10px;height:10px;background-color:yellow "></div></td>
                        {% elif log.status == 'running' or log.status == 'waiting for video' or log.status == 'uploading video' %}
                        <td align="left"><div title="running" style="border-radius: 50%; width:10px;height:10px;background-color:blue "></div></td>
                        {% endif %}
                        <td align="center">{{log.source}}</td>
                        <td>{{log.email}}</td>
                        <td id="{{log.start_datetime}}"><script>formatDate('{{log.start_datetime}}')</script></td>
                        <td>{{log.queueId|make_list|slice:':8'|join:''}}....</td>
                        <td><button  onclick="redirect('{{log.queueId}}')">Details</button></td>
                    </tr>
                {% endfor %}
            </tbody>

            </table></center>
        <!-- </div> -->
            {% endif %}

        </div>
    </div>
    <div class="overlay" style="display: none;" id="upload-form">
        <div class="hello">
        <form action="/upload" method="post" id="upload-form-overlay">
            <p class="close" onclick="document.getElementById('upload-form').style.display='none'"></p>
            
            <h1>Video Translation Tool</h1>
        <!-- <input type="file" name="file" id="" placeholder="Upload Video"> -->
        <!-- {{form}} -->
        {% csrf_token %}
            <input type="text" name="url" id="url" placeholder="Enter the URL">
            <input type="text" name="email" id="email" placeholder="Enter your Email">
            <input type="submit" value="Submit">
        </form>
        </div>
    </div>
</body>
</html>