{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <title>Login | Translator</title>
</head>
<body>
    <div id="root">
        <div class="container">
            {% if messages %}
            {% for m in messages %}
            <p>{{m}}</p>
            {% endfor %}
            {% endif %}
    <form action="/" method="post"  style="width: 100%;">
        {% csrf_token %}
        <h1>Login</h1>
        <input type="text" name="username" placeholder="Enter Username"><br>
        <input type="password" name="password" placeholder="Enter Password"><br>
        <input type="submit" value="Submit">
        
    </form>
    <!-- <a href="create"><button>Create</button></a> -->
</div>
    
</div>
</body>
</html>