{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Tracking | Translator</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <script>
        setTimeout(function(){
            window.location.reload(1);
        }, 50000);

        const show_trans_begin=() => {
            document.getElementById('trans_begin').style.display='block';
            document.getElementById('trans_begin_show').style.display='none';
            document.getElementById('trans_begin_hr').style.height='135px';
        }
        const hide_trans_begin=() => {
            document.getElementById('trans_begin').style.display='none';
            document.getElementById('trans_begin_show').style.display='block';
            document.getElementById('trans_begin_hr').style.height='50px';

        }
        const show_trans_end=() => {
            document.getElementById('trans_end').style.display='block';
            document.getElementById('trans_end_show').style.display='none';
            document.getElementById('trans_end_hr').style.height='135px';
        }
        const hide_trans_end=() => {
            document.getElementById('trans_end').style.display='none';
            document.getElementById('trans_end_show').style.display='block';
            document.getElementById('trans_end_hr').style.height='50px';

        }
        const show_tts_begin=() => {
            document.getElementById('tts_begin').style.display='block';
            document.getElementById('tts_begin_show').style.display='none';
            document.getElementById('tts_begin_hr').style.height='135px';
        }
        const hide_tts_begin=() => {
            document.getElementById('tts_begin').style.display='none';
            document.getElementById('tts_begin_show').style.display='block';
            document.getElementById('tts_begin_hr').style.height='50px';

        }
        const show_tts_end=() => {
            document.getElementById('tts_end').style.display='block';
            document.getElementById('tts_end_show').style.display='none';
            document.getElementById('tts_end_hr').style.height='135px';
        }
        const hide_tts_end=() => {
            document.getElementById('tts_end').style.display='none';
            document.getElementById('tts_end_show').style.display='block';
            document.getElementById('tts_end_hr').style.height='50px';

        }
    </script>
    <div id="root">
    <div class="container indi">
    <h1>Track record of {{queueId}}</h1>
    {% if output %}
        {% if output.begin %}
            <table cellspacing="0" style="zoom:90%">
                <tr>
                    <td align="center" valign="top"><i class="fa fa-check" style="padding: 12px; background-color: #FF4B2B; color: white; font-size: 20px;"></i><hr style="width:0px;height:50px; border: solid 2px #FF4B2B;"></td>
                    <td valign="top"><p style="padding: 12px;">Process Begun</p></td>
                </tr>
                {% if output.translation_begin %}
                    <tr>
                        <td align="center" valign="top"><i class="fa fa-check" style="padding: 12px; background-color: #FF4B2B; color: white; font-size: 20px;"></i><hr id="trans_begin_hr" style="width:0px;height:50px; border: solid 2px #FF4B2B;"></td>
                        <td valign="top"><p style="padding: 12px;">Translation Started</p>
                            <p style="font-size: 10px;cursor: pointer;color: #FF4B2B;" id="trans_begin_show" onclick="show_trans_begin()">Show Details <i class="fa fa-caret-down"></i></p>
                            <div style="display: none;" id="trans_begin">
                                <p style="font-size: 10px;">hi: {{trans_start.hi}}</p>
                                <p style="font-size: 10px;">es: {{trans_start.es}}</p>
                                <p style="font-size: 10px;">el: {{trans_start.el}}</p>
                                <p style="font-size: 10px;">de: {{trans_start.de}}</p>
                                <p style="font-size: 10px;">fr: {{trans_start.fr}}</p>
                                <p style="font-size: 10px;">pt: {{trans_start.pt}}</p>
                                <p style="font-size: 10px;">pl: {{trans_start.pl}}</p>
                                <p style="font-size: 10px;">ru: {{trans_start.ru}}</p>
                                <p style="font-size: 10px;">sv: {{trans_start.sv}}</p>
                                <p style="font-size: 10px;">zh: {{trans_start.zh}}</p>
                                <p style="font-size: 10px;cursor: pointer;color: #FF4B2B;" id="trans_begin_hide" onclick="hide_trans_begin()">Hide Details <i class="fa fa-caret-up"></i></p>
                            </div>
                        </td>
                    </tr>
                    {% if output.translation_end %}
                        <tr>
                            <td align="center" valign="top"><i class="fa fa-check" style="padding: 12px; background-color: #FF4B2B; color: white; font-size: 20px;"></i><hr id="trans_end_hr" style="width:0px;height:50px; border: solid 2px #FF4B2B;"></td>
                            <td valign="top"><p style="padding: 12px;">Translation Completed</p>
                                <p style="font-size: 10px;cursor: pointer;color: #FF4B2B;" id="trans_end_show" onclick="show_trans_end()">Show Details <i class="fa fa-caret-down"></i></p>
                                <div style="display: none;" id="trans_end">
                                    <p style="font-size: 10px;">hi: {{trans_end.hi}}</p>
                                    <p style="font-size: 10px;">es: {{trans_end.es}}</p>
                                    <p style="font-size: 10px;">el: {{trans_end.el}}</p>
                                    <p style="font-size: 10px;">de: {{trans_end.de}}</p>
                                    <p style="font-size: 10px;">fr: {{trans_end.fr}}</p>
                                    <p style="font-size: 10px;">pt: {{trans_end.pt}}</p>
                                    <p style="font-size: 10px;">pl: {{trans_end.pl}}</p>
                                    <p style="font-size: 10px;">ru: {{trans_end.ru}}</p>
                                    <p style="font-size: 10px;">sv: {{trans_end.sv}}</p>
                                    <p style="font-size: 10px;">zh: {{trans_start.zh}}</p>
                                    <p style="font-size: 10px;cursor: pointer;color: #FF4B2B;" id="trans_end_hide" onclick="hide_trans_end()">Hide Details <i class="fa fa-caret-up"></i></p>
                                </div>
                            </td>
                        </tr>
                        
                        {% if output.tts_begin %}
                            <tr>
                                <td align="center" valign="top"><i class="fa fa-check" style="padding: 12px; background-color: #FF4B2B; color: white; font-size: 20px;"></i><hr id="tts_begin_hr" style="width:0px;height:50px; border: solid 2px #FF4B2B;"></td>
                                <td valign="top"><p style="padding: 12px;">Text To Speech Started</p>
                                    <p style="font-size: 10px;cursor: pointer;color: #FF4B2B;" id="tts_begin_show" onclick="show_tts_begin()">Show Details <i class="fa fa-caret-down"></i></p>
                                    <div style="display: none;" id="tts_begin">
                                        <p style="font-size: 10px;">hi: {{textts_start.hi}}</p>
                                        <p style="font-size: 10px;">es: {{textts_start.es}}</p>
                                        <p style="font-size: 10px;">el: {{textts_start.el}}</p>
                                        <p style="font-size: 10px;">de: {{textts_start.de}}</p>
                                        <p style="font-size: 10px;">fr: {{textts_start.fr}}</p>
                                        <p style="font-size: 10px;">pt: {{textts_start.pt}}</p>
                                        <p style="font-size: 10px;">pl: {{textts_start.pl}}</p>
                                        <p style="font-size: 10px;">ru: {{textts_start.ru}}</p>
                                        <p style="font-size: 10px;">sv: {{textts_start.sv}}</p>
                                        <p style="font-size: 10px;">zh: {{trans_start.zh}}</p>
                                        <p style="font-size: 10px;cursor: pointer;color: #FF4B2B;" id="tts_begin_hide" onclick="hide_tts_begin()">Hide Details <i class="fa fa-caret-up"></i></p>

                                    </div>
                                </td>

                            </tr>
                        {% if output.tts_end %}
                            <tr>
                                <td align="center" valign="top"><i class="fa fa-check" style="padding: 12px; background-color: #FF4B2B; color: white; font-size: 20px;"></i><hr id="tts_end_hr" style="width:0px;height:50px; border: solid 2px #FF4B2B;"></td>
                                <td valign="top"><p style="padding: 12px;">Text To Speech Completed</p>
                                    <p style="font-size: 10px;cursor: pointer;color: #FF4B2B;" id="tts_end_show" onclick="show_tts_end()">Show Details <i class="fa fa-caret-down"></i></p>
                                    <div style="display: none;" id="tts_end">
                                    <p style="font-size: 10px;">hi: {{textts_end.hi}}</p>
                                    <p style="font-size: 10px;">es: {{textts_end.es}}</p>
                                    <p style="font-size: 10px;">el: {{textts_end.el}}</p>
                                    <p style="font-size: 10px;">de: {{textts_end.de}}</p>
                                    <p style="font-size: 10px;">fr: {{textts_end.fr}}</p>
                                    <p style="font-size: 10px;">pt: {{textts_end.pt}}</p>
                                    <p style="font-size: 10px;">pl: {{textts_end.pl}}</p>
                                    <p style="font-size: 10px;">ru: {{textts_end.ru}}</p>
                                    <p style="font-size: 10px;">sv: {{textts_end.sv}}</p>
                                    <p style="font-size: 10px;">zh: {{trans_start.zh}}</p>
                                    <p style="font-size: 10px;cursor: pointer;color: #FF4B2B;" id="tts_end_hide" onclick="hide_tts_end()">Hide Details <i class="fa fa-caret-up"></i></p>

                                    </div>
                                </td>
                            </tr>
                            {% if output.end %}
                                <tr>
                                    <td align="center" valign="top"><i class="fa fa-check" style="padding: 12px; background-color: #FF4B2B; color: white; font-size: 20px;"></i></td>
                                    <td valign="top"><p style="padding: 15px;">Process Completed</p></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td align="center" valign="top"><div style="height: 44px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 44px;"></div></td>
                                    <td valign="top"><p style="padding: 15px;color: grey;">Merging Audio Files</p></td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td align="center" valign="top"><div style="height: 44px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 44px;"></div></td>
                                <td valign="top"><p style="padding: 15px; color: grey;">Converting from TTS</p></td>
                            </tr>
                        {% endif %}
                        {% else %}
                            <tr>
                                <td align="center" valign="top"><div style="height: 44px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 44px;"></div></td>
                                <td valign="top"><p style="padding: 15px; color: grey;">TTS Not Started</p></td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td align="center" valign="top"><div style="height: 44px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 44px;"></div><hr style="width:0px;height:50px; border: dashed 2px #FF4B2B;"></td>
                            <td valign="top"><p style="padding: 15px; color: grey;">Translating</p></td>
                        </tr>
                        <tr>
                            <td align="center" valign="top"><div style="height: 44px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 44px;"></div></td>
                            <td valign="top"><p style="padding: 15px; color: grey;">TTS Not Started</p></td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td align="center" valign="top"><div style="height: 44px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 44px;"></div><hr style="width:0px;height:50px; border: dashed 2px #FF4B2B;"></td>
                        <td valign="top"><p style="padding: 15px; color: grey;">Translation Not Started</p></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top"><div style="height: 44px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 44px;"></div></td>
                        <td valign="top"><p style="padding: 15px; color: grey;">TTS Not Started</p></td>
                    </tr>
                    <!-- <tr>
                        <td align="center"><div style="height: 50px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 50px;"></div><hr style="width:0px;height:100px; border: dashed 2px #FF4B2B;"></td>
                        <td valign="top"><p style="padding: 15px; color: grey;">Translation Not Started</p></td>
                    </tr> -->
                {% endif %}
            </table>
        {% else %}
            <table>
                <tr>
                    <td align="center" valign="top"><div style="height: 44px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 44px;"></div><hr style="width:0px;height:100px; border: dashed 2px #FF4B2B;"></td>
                    <td valign="top"><p style="padding: 15px;color: grey;">Process Not Started</p></td>

                </tr>
                <tr>
                    <td align="center" valign="top"><div style="height: 44px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 44px;"></div><hr style="width:0px;height:100px; border: dashed 2px #FF4B2B;"></td>
                    <td valign="top"><p style="padding: 15px;color: grey;">Translation Not Started</p></td>
                </tr>
                <tr>
                    <td align="center" valign="top"><div style="height: 44px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 44px;"></div></td>
                    <td valign="top"><p style="padding: 15px; color: grey;">TTS Not Started</p></td>
                </tr>
            </table>
            <!-- <hr style="height:100px; border: dashed 2px #FF4B2B;"> -->

        {% endif %}
    {% else %}
    <!-- <div style="display: flex;"> -->
        <table style="zoom: 90%;">
            <tr>
                <td align="center"><div style="height: 50px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 50px;"></div><hr style="width:0px;height:100px; border: dashed 2px #FF4B2B;"></td>
                <td valign="top"><p style="padding: 15px; color: grey;">Process Not Started</p></td>
            </tr>
            <tr>
                <td align="center"><div style="height: 50px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 50px;"></div><hr style="width:0px;height:100px; border: dashed 2px #FF4B2B;"></td>
                <td valign="top"><p style="padding: 15px; color: grey;">Translation Not Started</p></td>
            </tr>
            <tr>
                <td align="center"><div style="height: 50px; border: solid 4px #FF4B2B; color: white; font-size: 50px; width: 50px;"></div></td>
                <td valign="top"><p style="padding: 15px; color: grey;">TTS Not Started</p></td>
            </tr>
        </table>
    <!-- </div> -->
    {% endif %}
    </div>
</div>
</body>
</html>