<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        setTimeout(function(){
            window.location.reload(1);
        }, 5000);
    </script>
    <h1>Track record of {{queueId}}</h1>
    {% if output %}
    {% for line in output %}
    <p>{{line}}</p>
    {% endfor %}
    {% else %}
    <p>Still Generating Logs for your Request</p>
    {% endif %}
</body>
</html>